html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 45px;
}

.card-header {
    background-color: blue;
    color: white;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}